.item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  padding: 5px;
  border-radius: 2%;
}

.status_online {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}

.status_offline {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}
