.transaction-history {
  display: block;
  margin: 0 auto;
  width: 300px;
  background-color: white;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
}
.title_lines {
  background-color: rgb(81, 160, 172);
  color: white;
}
.title_cells {
  outline: solid 1px rgb(232, 229, 229);
}
.cells {
  outline: solid 1px rgb(195, 192, 192);
  margin: 0;
  width: 100px;
  text-align: center;
}
.line_grey {
  background-color: rgb(220, 216, 216);
}
.line_white {
  background-color: white;
}
